<%= form_with(model: earl, local: true) do |form| %>
  <% if earl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(earl.errors.count, "error") %> prohibited this earl from being saved:</h2>

      <ul>
      <% earl.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_url %>
    <%= form.text_field :full_url, id: :earl_full_url %>
  </div>

  <div class="field">
    <%= form.label :short_url %>
    <%= form.text_field :short_url, id: :earl_short_url %>
  </div>

  <div class="field">
    <%= form.label :view_count %>
    <%= form.number_field :view_count, id: :earl_view_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
